// COLORS

$white: #ffffff;
$black: #000000;

$grey500: #626c7f;
$grey50: #f4f6fa;

$blue950: #2d3949;
$blue900: #313e51;
$blue850: #3b4d66;
$blue500: #306aff;
$blue300: #abc1e1;
$blue100: #edf1f9;
$blue50: #ebf0ff;

$green500: #2fd887;
$green100: #e0fdef;

$purple600: #a729f5;
$purple100: #f6e7ff;

$orange400: #ff7e35;
$orange50: #fff5ed;

$red500: #ee5454;


// SPACING

$sp-50: 0.25rem;
$sp-100: 0.5rem;
$sp-150: 0.75rem;
$sp-200: 1rem;
$sp-250: 1.25rem;
$sp-300: 1.5rem;
$sp-400: 2rem;
$sp-500: 2.5rem;
$sp-600: 3rem;
$sp-800: 4rem;
$sp-1200: 6rem;
$sp-1550: 8.75rem;
$sp-2000: 10rem;