@use "/src/sass/base" as b;
@use "/src/sass/mixins" as mx;

.heading {
  @include mx.prst-2-mob;
  margin-block-start: b.$sp-400;

  @media (min-width: 38rem) {
    @include mx.prst-2-lt;
    margin: 0;
  }

  .bold {
    font-weight: 500;
  }
}
.score-container {
  @media (min-width: 60rem) {
    width: 50%;
  }
}

.score-card {
  margin-block: b.$sp-500 b.$sp-200;
  background-color: light-dark(b.$white, b.$blue850);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: b.$sp-200;
  padding: b.$sp-400;

  @media (min-width: 38rem) {
    margin-block: b.$sp-800 b.$sp-400;
    gap: b.$sp-500;
    padding: b.$sp-500;
  }

  @media (min-width: 60rem) {
    margin-block-start: 0;
  }
}

.user-score {
  @include mx.prst-1-mob;
  margin: 0;

  @media (min-width: 38rem) {
    @include mx.prst-1;
  }
}

.sub-text {
  @include mx.prst-4-mob;

  @media (min-width: 38rem) {
    @include mx.prst-5-md;
  }
}

button {
  @include mx.prst-4-mob;
  font-family: inherit;
  color: b.$white;
  background-color: b.$purple600;
  width: 100%;
  padding: b.$sp-200;
  border-radius: b.$sp-150;
  border: none;
  cursor: pointer;

  @media (min-width: 38rem) {
    @include mx.prst-4;
    padding: b.$sp-400;
    color: b.$white;
  }
}

button:focus-visible{
    outline: 0.25rem b.$blue500 solid;
  }
