@use "/src/sass/base" as b;
@use "/src/sass/mixins" as mx;

main {
  padding-block-start: 0;
}

.question-section {
  @media (min-width: 60rem) {
    width: 35%;
    min-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.question {
  @include mx.prst-3-mob;
  color: light-dark(b.$blue900, b.$white);

  @media (min-width: 38rem) {
    @include mx.prst-3;
    margin-block: b.$sp-300 b.$sp-500;
  }
}

.question-num {
  @include mx.prst-5-mob;
  margin: 0;

  @media (min-width: 38rem) {
    @include mx.prst-6;
  }
}

.progress-container {
  @media (min-width: 60rem) {
    margin-block-end: 14rem;
  }
}

// Progress Bar
progress {
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: b.$sp-200;
  outline: none;
}

// Progress bar background
progress::-webkit-progress-bar {
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
  background: light-dark(b.$white, b.$blue850);
  border-radius: b.$sp-200;
  border: 0.25rem solid light-dark(b.$white, b.$blue850);
}

// Progress bar filled
progress::-webkit-progress-value {
  background-color: b.$purple600;
  border-radius: b.$sp-200;
  height: 50%;
}

.answer-options {
  margin-block: b.$sp-200;
  display: flex;
  flex-direction: column;
  gap: b.$sp-200;

  @media (min-width: 38rem) {
    margin-block-start: b.$sp-500;
    gap: b.$sp-300;
  }

  @media (min-width: 60rem) {
    margin-block-start: 0;
    width: clamp(31rem, 50%, 44rem);
  }
}

.optionChar {
  @include mx.prst-4-mob;
  color: b.$grey500;
  background-color: b.$grey50;
  padding: b.$sp-200;
  border-radius: b.$sp-150;

  @media (min-width: 38rem) {
    @include mx.prst-4;
    padding: b.$sp-150 b.$sp-250;
  }
}

.option {
  border: 0.125rem solid light-dark(b.$white, b.$blue850);
}
.option:hover {
  border: 0.125rem b.$purple600 solid;
  box-shadow: 0 0 0.5rem 0.1rem b.$purple600;
  .optionChar {
    color: b.$white;
    background-color: b.$purple600;
  }
}
.option:focus-visible {
    outline: 0.25rem b.$purple600 solid;

}

.answer-icon {
  margin-left: auto;
}

.selected {
  border: 0.125rem b.$purple600 solid;
  .optionChar {
    color: b.$white;
    background-color: b.$purple600;
  }
}

.submit-btn {
  @include mx.prst-4-mob;
  width: 100%;
  color: b.$white;
  background-color: b.$purple600;
  border-radius: b.$sp-300;
  text-align: center;
  padding: b.$sp-300;
  border: none;
  cursor: pointer;

  @media (min-width: 38rem) {
    @include mx.prst-4;
    margin-top: b.$sp-100;
    color: b.$white;
  }
}

.submit-btn:focus-visible {
    outline: 0.25rem b.$blue500 solid;

  }
  
.error-msg {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: b.$sp-100;

  p {
    @include mx.prst-4-mob;
    color: b.$red500;

    @media (min-width: 38rem) {
      @include mx.prst-5-rg;
    }
  }
}

.correct {
  border: b.$green500 0.125rem solid;
  .optionChar {
    background-color: b.$green500;
    color: b.$white;
  }
}
.incorrect {
  border: b.$red500 0.125rem solid;
  .optionChar {
    background-color: b.$red500;
    color: b.$white;
  }
}

.hidden {
  visibility: hidden;
}

.disabled {
  opacity: 0.5;
}
