@use "/src/sass/base" as b;
@use "/src/sass/mixins" as mx;

.title-text {
  .heading {
    @include mx.prst-2-mob;
    margin-block-start: b.$sp-400;

    @media (min-width: 38rem) {
      @include mx.prst-2-lt;
      margin: 0;
    }

    .bold {
      @include mx.prst-2-md;
    }
  }

  p {
    @include mx.prst-5-mob;

    @media (min-width: 38rem) {
      @include mx.prst-6;

      @media (min-width: 60rem) {
        margin-block: b.$sp-600;
      }
    }
  }
}

.option-list {
  display: flex;
  flex-direction: column;
  gap: b.$sp-200;
  margin-block: b.$sp-500;

  @media (min-width: 38rem) {
    margin-block: b.$sp-800;
    gap: b.$sp-300;
  }

  @media (min-width: 60rem) {
    margin-block-start: 0;
    width: clamp(31rem, 40%, 44rem);
  }

  button {
    @media (min-width: 60rem) {
      padding: b.$sp-300;
    }

    .icon {
      padding: b.$sp-50;
      border-radius: b.$sp-100;

      @media (min-width: 38rem) {
        box-sizing: content-box;
        padding: b.$sp-100;
      }
    }

    .html {
      background-color: b.$orange50;
    }

    .css {
      background-color: b.$green100;
    }

    .javascript {
      background-color: b.$blue50;
    }

    .accessibility {
      background-color: b.$purple100;
    }
  }
}
