@use "./sass/base" as b;

:root {
  // color-scheme: light dark ;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url(/public/images/pattern-background-mobile-light.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: b.$grey50; 
  max-width: 100%;
  overflow: hidden;
  margin: 0;
  font-family: "Rubik", sans-serif;
}